/* kiosk.css */

body {
    background-color: #f8f9fa;
    /* Hide cursor for real kiosk mode */
    /* cursor: none; */
}

.kiosk-header {
    margin-bottom: 2rem;
}

.card:hover {
    cursor: pointer;
}

@media print {
    .d-print-none {
        display: none !important;
    }

    .card {
        border: none !important;
        box-shadow: none !important;
    }
}